@import url("Variables.uss");
@import url("Core.uss");
@import url("General.uss");
@import url("ExtendedList.uss");
@import url("TextureListItem.uss");
@import url("Window.uss");

.fullscreen-image {
    position: absolute;
    -unity-background-scale-mode: scale-to-fit;
}
